.member-name {
    font-size: 17px;
    font-weight: 300;
    text-align: center;
}

.mdl-layout__drawer .mdl-layout-title {
    font-size: 14px;
}

.gallery {
    max-height: 400px;
    width: 100%;
}

.overlay {
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

#feature {
    background: #fafafa;
    height: 700px;
    width: 100%;
}

#feature-headline-1 {
    max-height: 100px;
}

#feature-title {
    font-size: 50px;
    position: relative;
    text-align: center;
    top: 10px;
}

#nav-title {
    font-size: 30px;
    position: relative;
    bottom: 5px;
}

#team {
    height: 400px;
    width: 100%;
}

.transparent-header {
    background: url("/assets/teamphoto.jpg") center / cover;
}

.transparent-header .mdl-layout__header,
.transparent-header .mdl-layout__drawer-button,
.member-name {
    /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
    
    color: white;
}

@media screen and (max-width: 1024px) {
    #feature-title {
        font-size: 39px;
    }
    #nav-title {
        bottom: 6px;
    }
}

@media screen and (max-width: 480px) {
    #feature-headline-1 {
        max-height: 120px
    }
    #feature-title {
        font-size: 30px;
    }
    #nav-title {
        font-size: 20px;
    }
}