.member-name {
    font-size: 17px;
    font-weight: 300;
    text-align: center;
}

.mdl-layout__drawer .mdl-layout-title {
    font-size: 14px;
}

#nav-title {
    font-size: 30px;
}

@media screen and (max-width: 480px) {
    #nav-title {
        bottom: 6px;
        font-size: 20px;
        position: relative;
    }
}

.overlay {
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

#team {
    height: 400px;
    width: 100%;
}

.transparent-header {
    background: url("assets/placeholder(1).jpg") center / cover;
}

.transparent-header .mdl-layout__header,
.transparent-header .mdl-layout__drawer-button,
.member-name {
    /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
    
    color: white;
}