  .overlay {
      z-index: 1;
      height: 100%;
      width: 100%;
      position: fixed;
      overflow: auto;
      top: 0px;
      left: 0px;
      background: rgba(0, 0, 0, 0.7);
  }
  
  .transparent-header {
      background: url(assets/placeholder.jpg) center / cover;
  }
  
  .transparent-header .mdl-layout__header,
  .transparent-header .mdl-layout__drawer-button {
      /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
      
      color: white;
  }